@import "compass/css3";
@import "compass/utilities/general/clearfix";

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0 0 20px 0;
}

a {
	color: #1e78b9; //#275e86;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

$left-pane-width: 500px;
$right-pane-width: 500px;


.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(232, 232, 232, 0.6);
	opacity: 0;
	transition-duration: .3s;
}

.shadow-root {
	visibility: hidden;
	overflow: auto;
	z-index: 99999;

	&.open {
		visibility: visible;

		.dialog-container {
			transform: none;
			opacity: 1;
		}
		.dialog-overlay {
			opacity: 1;
		}
	}
}

.dialog-container {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	margin: auto;
	max-width: $left-pane-width + $right-pane-width;
	max-height: 650px;
	min-width: 850px;
	z-index: 110;
	color: #333;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	transform: scale(.95);
	transition-duration: .3s;
	transition-property: transform opacity;
	opacity: 0;
	display: flex;
	flex-flow: row;
	padding-top: 35px;
	background: #FFF;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.19);

	.top-bar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 35px;
		z-index: 3;
		line-height: 35px;
		padding: 0 10px;
		background: #224d6d;
		color: #FFF;
		font-size: 14px;
		overflow: hidden;

		.close-btn {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 39px;
			fill: #FFF;
			padding: 6px 8px;
			cursor: pointer;

			&:hover {
				background: red;
			}
		}
	}

	.header {
		flex: 0 1 auto;
		background: #275e86;

		.header-inner {
			height: 80px;
			margin: 0 25px;
			line-height: 80px;
			position: relative;
		}

		p.primary {
			font-size: 20px;
			margin: 0;
			color: #FFF;
		}

		.settings-btn {
			position: absolute;
			top: 22px;
			right: 0;
			cursor: pointer;
			padding: 4px;

			svg {
				width: 26px;
				fill: #FFF;
				display: block;
				pointer-events: none;
			}

			&:hover {
				opacity: .8;
			}
		}

		button {
			position: relative;
			background: rgba(0,0,0,.2);
			display: inline-block;
			padding: 0 12px;
			height: 38px;
			font-size: 14px;
			color: #FFF;
			margin: 0 10px 0 0;
			border-radius: 2px;
			border: 0;
			cursor: pointer;
			transition-duration: .1s;
			box-shadow: 0 0 0 0 rgba(0,0,0,.2);
			outline: none;

			&:hover {
				background: rgba(0,0,0,.3);

				&:after, &:before {
					display: block;
				}
			}

			&.primary {
				background: #62a256;

				&:hover {
					background: #59904F;
				}
			}

			&.icon-btn {
				position: relative;
				top: 1px; // hacky

				svg {
					fill: #FFF;
					pointer-events: none;
				}
			}

			.shadow-root.health-ok & {
				&.health-ok {
					display: inline-block;
				}
				&.health-bad {
					display: none;
				}
			}
			.shadow-root:not(.health-ok) & {
				&.health-ok {
					display: none;
				}
				&.health-bad {
					display: inline-block;
				}
			}
		}
	}

	.left-pane {
		width: $left-pane-width;
		flex: 0 1 auto;
		overflow: hidden;
		display: flex;
		flex-flow: column;
		background: #ececec;

		.recovery-container {
			flex: 1 1 auto;
			overflow-y: scroll;
			position: relative;
			margin-right: 5px;
			margin-top: 5px;
			margin-bottom: 5px;

			&::-webkit-scrollbar {
				width: 8px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: transparent;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background: #D9D9D9;

				&:hover {
					background: #CACACA;
				}
			}

			li {
				overflow: hidden;
			}

			li p {
				margin: 0 0 10px 0;
			}
		}

		ul {
			position: relative;
			margin: 50px 8px 10px 20px;
			background: #FFF;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);

			&:before {
				content: attr(data-pretty-date);
				display: inline-block;
				font-size: 13px;
				color: #444;
				font-weight: bold;
				position: absolute;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		li {
			display: block;
			padding: 20px;
			border-bottom: 1px solid #DDDDDD;
			cursor: pointer;
			color: #555;
			transition-duration: .2s;

			&.selected {
				//background: #E9E9E9;
				color: #222;
				box-shadow: 0 0 0 1px #7fa2d8, 0 0 5px #a9a9a9;
			}

			&:last-child {
				border-bottom: 0;
			}

			&:not(.selected):hover {
				box-shadow: 0 0 0 0 #7fa2d8, 0 0 5px #a9a9a9;
				color: #222;
			}

			a {
				color: inherit;
				transition-duration: .1s;
			}

			&:hover, &.selected {
				a {
					color: #1e78b9;
				}
				.del-link {
					color: #e43434;
				}
			}

			.meta-bar {
				font-size: 13px;
			}
		}
	}
	.right-pane {
		display: flex;
		flex: 0 1 auto;
		flex-flow: column;
		width: $right-pane-width;
		z-index: 200000;
		overflow: hidden;
		position: relative;

		.header {
			flex: 0 1 auto;

			.header-partial {
				display: none;

				&.partial-current {
					display: block;
				}
			}
		}

		.content {
			display: flex;
			flex-flow: column;
			flex: 1 1 auto;

			.content-partial {
				display: none;

				&.partial-current {
					display: flex; // Or block, whatev
				}

				.inner-content {
					margin: 30px;
				}
			}
		}

		.partial-recover {
			display: flex;
			flex-flow: column;
			flex: 1 1 auto;

			.meta {
				flex: 0 1 auto;
				margin: 20px 30px 0;
				font-size: 13px;

				.stat-container {
					display: inline-block;
					margin-right: 15px;
					color: #444;

					svg {
						fill: currentColor;
						position: relative;
						top: 4px;
						margin-right: 4px;
						width: 20px;
					}
				}
				.shadow-root.health-ok & {
					.health-ok {
						display: inline-block;
					}
					.health-bad {
						display: none;
					}
				}
				.shadow-root:not(.health-ok) & {
					.health-ok {
						display: none;
					}
					.health-bad {
						display: inline-block;
					}
				}

				.health-bad {
					color: #dc9527;
				}
				// .health-ok {
				// 	color: green;
				// }
			}

			.full-text {
				flex: 1 1 auto;
				margin: 20px 30px 30px;
				border: 1px solid #c5c5c5;
				overflow-y: auto;
				position: relative;

				&:hover button {
					opacity: 1;
				}

				button {
					position: sticky;
					left: 100%;
					top: 16px; // To match line height of normal text
					margin: 0 20px;
					padding: 5px 10px;
					display: block;
					border: 0;
					background: #989898;
					color: #FFF;
					z-index: 2;
					font-size: 13px;
					border-radius: 100px;
					opacity: 0;
					transition-duration: .2s;
					outline: none;
					cursor: pointer;
					user-select: none;

					&:hover {
						background: #828282;
					}
				}

				.container {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					padding: 20px;
					overflow-x: auto;
				}
			}
		}

		.partial-default {
			.centered {
				width: 250px;
				margin-left: 50%;
				transform: translateX(-50%);
				margin-top: 100px;
				text-align: center;
				color: #666;

				.big-icon {
					width: 100px;
					fill: currentColor;
					margin-bottom: 20px;
				}

				p {
					margin: 0;
					line-height: 30px;
					font-size: 16px;
				}

				a {
					font-weight: bold;
				}
			}
		}
	}

}