@import "compass/css3";
@import "compass/utilities/general/clearfix";

#teraUI {
	position: absolute;
	z-index: 99999999999;

	&.hidden {
		display: none;
	}

	.result-list {
		margin: 0; padding: 0; // Reset, some websites fuck it up
		display: block;
		background: #FFF;
		width: 250px;
		overflow: hidden;
		box-shadow: 0 1px 4px rgba(0,0,0,.5), 0 1px 10px rgba(0,0,0,.2);

		li {
			position: relative;
			display: block;
			margin: 0;
			padding: 8px 25px 8px 10px;
			cursor: default;
			font-size: 13px;
			line-height: 13px;
			color: #444;
			font-family: sans-serif;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);

			&:last-child {
				box-shadow: none;
			}

			&:hover {
				background: rgba(0,0,0,.1);
				box-shadow: none;

				span {
					opacity: .7;
				}
			}

			&.has-icon-left {
				padding-left: 30px;
			}

			.icon-right {
				position: absolute;
				top: 5px;
				right: 5px;
				display: block;
				height: 18px;
				width: 18px;
				cursor: pointer;
				opacity: 0;
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiMyMzFGMjA7fQo8L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yODQuMywyNDUuMWwxMTAuOS0xMTAuOWM3LjgtNy44LDcuOC0yMC41LDAtMjguM3MtMjAuNS03LjgtMjguMywwTDI1NiwyMTYuOEwxNDUuMSwxMDUuOSAgYy03LjgtNy44LTIwLjUtNy44LTI4LjMsMHMtNy44LDIwLjUsMCwyOC4zbDExMC45LDExMC45TDExNi45LDM1NS45Yy03LjgsNy44LTcuOCwyMC41LDAsMjguM2MzLjksMy45LDksNS45LDE0LjEsNS45ICBjNS4xLDAsMTAuMi0yLDE0LjEtNS45TDI1NiwyNzMuM2wxMTAuOSwxMTAuOWMzLjksMy45LDksNS45LDE0LjEsNS45czEwLjItMiwxNC4xLTUuOWM3LjgtNy44LDcuOC0yMC41LDAtMjguM0wyODQuMywyNDUuMXoiLz48L3N2Zz4=);
				background-size: contain;

				&:hover {
					opacity: 1;
				}
			}
			.icon-left {
				position: absolute;
				top: 5px;
				left: 7px;
				display: block;
				height: 18px;
				width: 18px;
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiMyMzFGMjA7fQo8L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yODQuMywyNDUuMWwxMTAuOS0xMTAuOWM3LjgtNy44LDcuOC0yMC41LDAtMjguM3MtMjAuNS03LjgtMjguMywwTDI1NiwyMTYuOEwxNDUuMSwxMDUuOSAgYy03LjgtNy44LTIwLjUtNy44LTI4LjMsMHMtNy44LDIwLjUsMCwyOC4zbDExMC45LDExMC45TDExNi45LDM1NS45Yy03LjgsNy44LTcuOCwyMC41LDAsMjguM2MzLjksMy45LDksNS45LDE0LjEsNS45ICBjNS4xLDAsMTAuMi0yLDE0LjEtNS45TDI1NiwyNzMuM2wxMTAuOSwxMTAuOWMzLjksMy45LDksNS45LDE0LjEsNS45czEwLjItMiwxNC4xLTUuOWM3LjgtNy44LDcuOC0yMC41LDAtMjguM0wyODQuMywyNDUuMXoiLz48L3N2Zz4=);
				background-size: contain;
			}
		}
	}
}

.teraUIActiveInput {
	background: #FCF9D6 !important;
	color: #222 !important;
}