@import "compass/css3";
@import "compass/utilities/general/clearfix";

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

$left-pane-width: 500px;
$right-pane-width: 500px;
$right-pane-padding: 50px;


.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.6);
	z-index: 100;
	opacity: 0;
	transition-duration: .3s;
}

.shadow-root {

	&.hidden {
		display: none;
	}

	&.open .dialog-container {
		transform: none;
		opacity: 1;
	}
	&.open .dialog-overlay {
		opacity: 1;
	}
}

.dialog-container {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	margin: auto;
	width: $left-pane-width + $right-pane-width;
	max-height: 600px;
	z-index: 110;
	color: #333;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	transform: scale(.95);
	transition-duration: .3s;
	opacity: 0;

	.left-pane {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: $left-pane-width;
		background: #FFF;
		overflow: hidden;
		z-index: 3;
		display: flex;
		flex-flow: column;

		.header {
			height: 70px;
			padding: 30px;
			flex: 0 1 auto;

			.domain {
				font-size: 20px;
				margin: 0;
			}
		}

		.recovery-container {
			flex: 1 1 auto;
			overflow-y: scroll;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				width: 8px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: transparent;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background: #A1A1A1;
			}
		}

		.session-timestamp {
			display: inline-block;
			padding: 3px 12px;
			font-size: 13px;
			color: #FFF;
			background: #777;
			margin: 20px 0 0;
			margin-left: 50%;
			transform: translateX(-50%);
			border-radius: 5px 5px 0 0;
		}

		ul {
			background: #FFF;
			margin: 0 8px 0 20px;
			border: 1px solid #DDDDDD;
		}

		li {
			display: block;
			padding: 20px;
			border-bottom: 1px solid #DDDDDD;
			cursor: pointer;

			&.current {
				background: #EEEEEE;
			}

			&:last-child {
				border-bottom: 0;
			}

			&:hover, &.current {
				box-shadow: 0 0 0 1px #BBB;
			}
		}
	}
	.right-pane {
		position: absolute;
		top: 0;
		left: $left-pane-width;
		bottom: 0;
		width: $right-pane-width;
		background: #E7E7E7;
		z-index: 2;
		overflow: hidden;

		/* &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 20px;
			background: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,0));
		} */

		.page {
			display: flex;
			flex-flow: column;
			padding: 30px;
		}

		.header {
			flex: 0 1 auto;
			margin-bottom: 20px;

			button {
				background: #125ECF;
				display: inline-block;
				padding: 8px 10px;
				font-size: 14px;
				color: #FFF;
				margin: 0 15px 0 0;
				border-radius: 2px;
				border: 0;
			}
		}

		.content-box {
			padding: 20px;
			background: #FFF;
			flex: 1 1 auto;
			overflow: auto;
		}
	}

	.page {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scale(.98);
		opacity: 0;
		pointer-events: none;
		transition-duration: .2s;

		&.page-current {
			opacity: 1;
			transform: none;
			pointer-events: auto;
		}
	}
}