

.terafm-element-picker {
	position: absolute;
	z-index: 999999999999;
	background: rgba(255, 251, 153, .8);
	box-shadow: rgb(134, 130, 35) 0px 0px 0px 3px;
	opacity: 1;
	cursor: pointer;

	&:hover {
		background: rgba(255, 251, 153, .4);
	}
}

.terafm-active-input {
	background: rgb(255, 251, 153) !important;
	color: #222 !important;
}