
body {

}

.content {
	display: flex;
}

.col {
	padding: 30px;
	flex: 1;
}
.domain-list {
	padding: 20px;
	border: 1px solid #DDD;

	li {
		display: flex;

		span {
			flex: 1 0;
		}

		span.shrink {
			flex: 0 1;
			white-space: nowrap;
			margin-left: 20px;
		}
	}
}