
body {
	background: #f0f0f1;
}

.content {
	background: #FFF;
	padding: 20px;
	max-width: 1000px;
	margin: 0 auto;
	border: 1px solid #e2e2e2;
	border-radius: 8px;
}

.domain-list {
	padding: 20px;
	border: 1px solid #DDD;

	li {
		display: flex;

		span {
			flex: 1 0;
		}

		span.shrink {
			flex: 0 1;
			white-space: nowrap;
			margin-left: 20px;
		}
	}
}