@charset "UTF-8";

@font-face {
  font-family: "typio";
  src:url("fonts/typio.eot");
  src:url("fonts/typio.eot?#iefix") format("embedded-opentype"),
    url("fonts/typio.woff") format("woff"),
    url("fonts/typio.ttf") format("truetype"),
    url("fonts/typio.svg#typio") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "typio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "typio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-block:before {
  content: "\62";
}
.icon-search:before {
  content: "\64";
}
.icon-keyboard:before {
  content: "\65";
}
.icon-close:before {
  content: "\66";
}
.icon-arrow-forward:before {
  content: "\67";
}
.icon-gear:before {
  content: "\6a";
}
.icon-info:before {
  content: "\68";
}
.icon-trash:before {
  content: "\63";
}
.icon-cloud:before {
  content: "\69";
}
.icon-cog:before {
  content: "\6b";
}
.icon-megaphone:before {
  content: "\6c";
}
.icon-lock:before {
  content: "\6e";
}
.icon-help-circled:before {
  content: "\71";
}
.icon-heart:before {
  content: "\61";
}
.icon-window:before {
  content: "\6d";
}
