
#recovery-dialog .modal {
	max-height: 80vh;
	background: #f4f6fa;
	color: #444;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	& > .header {
		background: #486da7;

		.top-bar {
			padding: 8px 15px;
			height: 30px;
			background: rgba(0,0,100,.1);
			font-size: 13px;
			color: #87A0B9;

			p {
				display: inline-block;
			}

			button {
				float: right;
				border: 0;
				background: transparent;
				padding: 0;
				margin: 0;
			}
		}

		.primary {
			padding: 20px 15px;
			display: flex;

			.left {
				flex: 1 0;
				font-weight: bold;
				color: #FFF;
				font-size: 16px;
				line-height: 22px;
			}

			button {
				flex: 0 1;
				margin-left: 15px;
			}
		}
	}

	.panes {
		display: flex;

		& > .left, & > .right {
			width: 500px;
		}

		& > .left {
			display: flex;
			flex-direction: column;
		}

		.page {
			padding: 30px;

			&:not(.page-current) {
				display: none;
			}
		}
	}

	.btn {
		display: inline-block;
		outline: none;
		cursor: pointer;
		padding: 10px 12px;
		margin: 0 10px 0 0;
		border-radius: 2px;
		border: 0;
		font-weight: bold;
		transition-duration: .1s;

		color: #48ae5f;
		background: #f6f9fc;
		box-shadow: 0 4px 6px rgba(23, 36, 87, 0.07), 0 1px 3px rgba(19, 46, 89, 0.23);

		&:hover {
			background: #f6f9fc;
			box-shadow: 0 6px 6px rgba(23, 36, 87, 0.05), 0 2px 3px rgba(19, 46, 89, 0.23);
			color: #50BA68;
			transform: translateY(-1px);
		}

		&:active {
			transform: translateY(1px);
			box-shadow: 0 4px 6px rgba(23, 36, 87, 0.07), 0 1px 3px rgba(19, 46, 89, 0.23);
		}
	}

	.btn-primary {
		background: #48ae5f;
		color: #EEFFF2;
		// box-shadow: 0 7px 14px rgba(50,50,90,.1), 0 3px 6px rgba(0,0,0,.08);

		&:hover {
			// box-shadow: 0 7px 18px rgba(50,50,90,.15), 0 3px 6px rgba(0,0,0,.08);
			color: #FFF;
			background: #53B569;
		}
		&:active {
			background: #44A359;
		}
	}

	.btn-drop-container {
		display: inline-block;
		position: relative;

		&:hover .btn-drop {display: block;}

		.btn-drop {
			position: absolute;
			top: calc(100% + 4px);
			left: 0;
			padding: 2px;
			border-radius: 2px;
			background: #FFF;
			box-shadow: 0 7px 14px rgba(50,50,90,.1), 0 3px 6px rgba(0,0,0,.08);
			display: none;

			li {
				white-space: nowrap;
				padding: 8px 20px 8px 8px;
				font-size: 13px;
				cursor: pointer;
				color: #888;

				&:hover {
					background: rgba(0,0,100,.05);
					color: #555;
					border-radius: 2px;
				}
			}
		}
	}
}



#recovery-dialog .left .header {
	margin: 30px;

	.filter-box {
		display: flex;
		background: #FFF;
		border-radius: 100px;
		padding: 6px 12px;
		border: 1px solid rgba(0,0,100,.1);

		.filter-input {
			flex: 1 0;
			padding: 0;
			margin: 0;
			border: none;
			outline: none;
		}

		.chk-label {
			display: inline-block;
		}

		label {
			font-size: 13px;
			color: #888;
		}

		input[type=checkbox] {
			margin: 0;
			position: relative;
			top: 2px;
		}
	}
}

#recovery-dialog .session-data {
	flex: 1;
	margin: 0 0 30px;
	padding: 0 20px 0 30px;
	overflow-y: scroll;


	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background: rgba(0,0,80,.08);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgba(0,0,80,.12);

		&:hover {
			background: rgba(0,0,80,.25);
		}
	}


	ul {
		margin: 5px 0 20px 0;
		// background: rgba(255,255,255,.6);
		font-size: 13px;
	}

	ul li {
		position: relative;
		padding: 15px 20px;
		transition-duration: .1s;
		border-bottom: 1px solid #ededed;
		&:last-child {border-bottom: none;}

		&:not(:hover):not(.selected) .meta {
			&, & a {
				color: #888;
			}
		}

		&.selected {
			box-shadow: 0 0 3px 1px #cfd2d9, 0 1px 10px 0 rgba(0, 41, 124, 0.1);
			z-index: 2;
			// background: #FFF;
		}
		// &:hover {
		// 	background: #FFF;
		// }

		p {
			margin: 0;
		}

		.target-ok, .target-bad {
			display: inline-block;
			height: 7px;
			width: 7px;
			border-radius: 100px;
			margin-right: 5px;
		}
		.target-ok {
			background: #3FB91E;
			box-shadow: 0 0 0 3px #D6F2CE;
		}
		.target-bad {
			background: #B91E1E;
			box-shadow: 0 0 0 3px #F2CECE;
		}
	}

	.date-stamp {
		font-size: 12px;
		text-align: center;
		margin: 0;
		color: #8491A4;
	}

	li .meta {
		font-size: 13px;
		color: #555;
		margin: 5px 0 0;
		display: flex;

		.left {
			flex: 1 0;
		}

		.right a {
			margin-left: 10px;
		}
	}
}

#recovery-dialog .page-entry {
	display: flex;
	flex-direction: column;
	height: 100%;

	.entry-header {
		.message {
			margin-top: 20px;
		}
	}
	.entry-text, .entry-meta {
		padding: 20px;
	}
	.entry-text {
		flex: 1 0;
		overflow-y: auto;
		border-radius: 2px 2px 0 0;
	}
	.entry-meta {
		border-top: 1px solid #e3e3e3;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
		color: #a5a5a5;
		position: relative;
		z-index: 1;
		border-radius: 0 0 2px 2px;
	}
}

#recovery-dialog .page-default {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;

	.center {
		text-align: center;
		font-size: 15px;
	}

	.icon {
		width: 150px;
	}
}

.card-1 {
	box-shadow: 0 1px 3px #dddddd, 0 2px 8px rgba(0, 70, 110, .07);
	background: #FFF;
	border-radius: 2px;
}