
#recovery-dialog .modal {
	display: flex;
	max-height: 80vh;

	.left, .right {
		width: 500px;
	}


	.left {
		background: #265F80;
		display: flex;
		flex-direction: column;
	}

	.right {
		background: #f0f3f6;
		color: #333;
	}

	.page {
		padding: 30px;

		&:not(.page-current) {
			display: none;
		}
	}

	.btn {
		display: inline-block;
		outline: none;
		cursor: pointer;
		padding: 10px 12px;
		margin: 0 10px 0 0;
		border-radius: 2px;
		border: 0;
		font-weight: bold;
		transition-duration: .1s;

		color: #48ae5f;
		background: #f6f9fc;
		box-shadow: 0 4px 6px rgba(50, 50, 90, .1), 0 1px 3px rgba(0, 0, 0, 0.07);

		&:hover {
			box-shadow: 0 4px 10px rgba(50, 50, 90, .15), 0 1px 3px rgba(0, 0, 0, 0.07);
			color: #50BA68;
			transform: translateY(-1px);
		}

		&:active {
			transform: translateY(1px);
		}
	}

	.btn-primary {
		background: #48ae5f;
		color: #EEFFF2;
		box-shadow: 0 7px 14px rgba(50,50,90,.1), 0 3px 6px rgba(0,0,0,.08);

		&:hover {
			box-shadow: 0 7px 18px rgba(50,50,90,.15), 0 3px 6px rgba(0,0,0,.08);
			color: #FFF;
			background: #53B569;
		}
		&:active {
			background: #44A359;
		}
	}

	.btn-drop-container {
		display: inline-block;
		position: relative;

		&:hover .btn-drop {display: block;}

		.btn-drop {
			position: absolute;
			top: calc(100% + 4px);
			left: 0;
			padding: 2px;
			border-radius: 2px;
			background: #FFF;
			box-shadow: 0 7px 14px rgba(50,50,90,.1), 0 3px 6px rgba(0,0,0,.08);
			display: none;

			li {
				white-space: nowrap;
				padding: 5px 20px 5px 6px;
				font-size: 13px;
				cursor: pointer;
				color: #888;

				&:hover {
					background: #ECECEC;
					color: #555;
					border-radius: 2px;
				}
			}
		}
	}
}




#recovery-dialog .session-data {
	background: #FFF;
	margin: 0 20px;
	overflow-y: scroll;

	ul {
		margin: 0;
		background: #FFF;
		// box-shadow: 0 2px 4px rgba(0,0,0,.06), 0 2px 12px rgba(0,0,0,.04);
	}

	ul li {
		padding: 15px 20px;
		color: #333;
		box-shadow: 0 1px 4px rgba(0,0,0,.05);
		// border-bottom: 1px solid #ededed;
		// &:first-child {border-top: 1px solid #ededed;}

		&:hover {

		}

		p {
			margin: 0;
		}

		a {
			color: #333;
			position: relative;
			text-decoration: none;
			&:hover:after {
				opacity: 1;
			}

			&:after {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 1px;
				background: #FFF;
				content: '';
				opacity: 0;
			}
		}
	}

	.date-stamp {
		font-size: 12px;
		text-align: center;
		margin: 20px 0 5px 0;
		color: #97B8CF;
	}

	li .meta {
		font-size: 13px;
		color: #555;
		margin: 5px 0 0;

		span {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

#recovery-dialog .page-entry {
	display: flex;
	flex-direction: column;
	height: 100%;

	.entry-header {
		.message {
			margin-top: 20px;
		}
	}
	.entry-text, .entry-meta {
		border: 1px solid #CBCBCB;
		padding: 20px;
	}
	.entry-text {
		flex: 1 0;
		overflow-y: auto;
	}
	.entry-meta {
		border-top: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
		color: #a5a5a5;
	}
}

#recovery-dialog .page-default {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;

	.center {
		text-align: center;
		font-size: 15px;
	}

	.icon {
		width: 150px;
	}
}