
#recovery-dialog .modal {
	height: 85vh;
	width: 1024px;
	max-width: 90vw;
	background: #f4f6fa;
	color: #444;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	& > .header {
		background: #486da7;

		.top-bar {
			display: flex;
			align-items: center;
			background: rgba(0,0,100,.1);
			font-size: 13px;
			color: #C0D0E0;

			p {
				margin: 0 0 0 15px;
				flex: 1 0;
			}

			button {
				flex: 0 0;
				border: 0;
				background: transparent;
				padding: 0 12px;
				height: 28px;
				margin: 0;
				color: #FFF;
				outline: none;
				line-height: 6px;

				&:hover {
					background: #ff5555;
				}

				&:active {
					background: #EB4343;
				}
			}
		}

		.primary {
			padding: 0 15px;
			display: flex;
			height: 60px;
			align-items: center;

			.left {
				flex: 1 0;
				font-weight: bold;
				color: #FFF;
				font-size: 16px;
			}
			
			.toolbar-icon {
				position: relative;
				flex: 0 1;
				height: 40px;
				padding: 0 10px 0 32px;
				margin-left: 10px;
				border-radius: 3px;
				color: #FFF;
				border: none;
				outline: none;
				background: transparent;
				white-space: nowrap;
				cursor: pointer;

				span {
					font-size: 22px;
					position: absolute;
					top: 8px;
					left: 5px;
					color: rgba(255,255,255,.4);
				}

				&:hover {
					background: rgba(200,200,255,.15);
				}
			}
		}
	}

	.panes {
		display: flex;
		flex: 1 0;

		& > .left, & > .right {
			width: 50%;
		}

		& > .left {
			display: flex;
			flex-direction: column;
		}

		.page {
			padding: 30px;
			overflow: hidden;

			&:not(.page-current) {
				display: none;
			}
		}
	}

	.btn {
		display: inline-block;
		outline: none;
		cursor: pointer;
		padding: 10px 12px;
		margin: 0 10px 0 0;
		border-radius: 2px;
		border: 0;
		font-weight: bold;
		line-height: 16px;
		transition-duration: .1s;

		color: #48ae5f;
		background: #f6f9fc;

		&:hover {
			background: #f6f9fc;
			transform: translateY(-1px);
		}

		&:active {
			transform: translateY(1px);
		}
	}

	.btn-primary {
		background: #48ae5f;
		color: #EEFFF2;
		box-shadow: 0 4px 6px rgba(23, 36, 87, 0.07), 0 1px 3px rgba(19, 46, 89, 0.23);

		&:hover {
			color: #FFF;
			background: #53B569;
			box-shadow: 0 6px 6px rgba(23, 36, 87, 0.05), 0 2px 3px rgba(19, 46, 89, 0.23);
		}
		&:active {
			background: #44A359;
			box-shadow: 0 4px 6px rgba(23, 36, 87, 0.07), 0 1px 3px rgba(19, 46, 89, 0.23);
		}
	}

	.btn-flat {
		background: none;
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;
		color: #5271a3;
	}

	.btn-drop-container {
		display: inline-block;
		position: relative;

		&.open .btn-drop { display: block; }

		.btn-drop {
			position: absolute;
			top: calc(100% + 4px);
			right: 0;
			padding: 4px;
			border-radius: 2px;
			background: #FFF;
			box-shadow: 0 7px 14px rgba(50,50,90,.1), 0 3px 6px rgba(0,0,0,.1);
			display: none;

			li {
				white-space: nowrap;
				padding: 8px 20px 8px 8px;
				font-size: 13px;
				cursor: pointer;
				color: #888;

				&:hover {
					background: rgba(0, 40, 125, .08);
					color: #555;
					border-radius: 2px;
				}
			}
		}
	}
}



#recovery-dialog .left .header {
	margin: 30px 30px 15px;

	.filter-box {
		display: flex;
		background: #FFF;
		border-radius: 100px;
		padding: 6px 12px;
		border: 1px solid rgba(0,0,100,.1);
		position: relative;

		.icon {
			position: absolute;
			left: 10px;
			top: 8px;
			font-size: 14px;
			color: #999;
			pointer-events: none;
		}

		.filter-input {
			flex: 1 0;
			padding: 0;
			text-indent: 18px;
			margin: 0;
			border: none;
			outline: none;
		}

		.chk-label {
			display: inline-block;
		}

		label {
			font-size: 13px;
			color: #888;
		}

		input[type=checkbox] {
			margin: 0;
			position: relative;
			top: 2px;
		}

		.pretty-chk {
			$size: 14px;
			height: $size;
			width: $size;
			position: relative;
			display: inline-block;
			top: 2px;

			&:hover .fake-chk {
				box-shadow: inset 0 0 0 1px #8C8C8C;
			}

			.fake-chk, input {
				position: absolute;
				top: 0; left: 0;
				height: $size; width: $size;
			}
			input {
				opacity: 0;
			}

			.fake-chk {
				pointer-events: none;
				box-shadow: inset 0 0 0 1px #A8A8A8;
				transition-duration: .2s;
				border-radius: 2px;
				background: #FFF no-repeat url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIzMiIgaWQ9ImNoZWNrIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMSAxNCBMNSAxMCBMMTMgMTggTDI3IDQgTDMxIDggTDEzIDI2IHoiLz48L3N2Zz4=);
				background-size: 10px;
				background-position-y: -12px;
				background-position-x: center;
			}
			input:checked ~ .fake-chk {
				box-shadow: inset 0 0 0 0 #A8A8A8;
				background-position-y: center;
				background-color: #33A851;
			}
		}
	}

	.filter-warning {
		margin: 5px 0 0 0;
		text-align: center;
		font-size: 13px;
	}
}



#recovery-dialog .session-data {
	flex: 1;
	margin: 0 0 30px;
	padding: 0 20px 0 30px;
	overflow-y: scroll;


	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background: rgba(0,0,80,.08);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgba(0,0,80,.12);

		&:hover {
			background: rgba(0,0,80,.25);
		}
	}


	ul {
		margin: 5px 0 20px 0;
		// background: rgba(255,255,255,.6);
		font-size: 13px;
	}

	ul li {
		position: relative;
		padding: 15px 20px;
		border-bottom: 1px solid #ededed;
		background: #FFF;
		cursor: default;
		// transition-duration: .1s;
		&:last-child {border-bottom: none;}


		&.selected, &.selected:hover {
			box-shadow: 0 0 3px 1px #cfd2d9, 0 1px 10px 0 rgba(0, 41, 124, 0.1);
			margin: 0 -4px;
			padding: 15px 24px;
			z-index: 2;
		}
		&:hover {
			// background: #fafafb;
		}

		p {
			margin: 0;
		}
	}

	.date-stamp {
		font-size: 12px;
		text-align: center;
		margin: 0;
		color: #8491A4;
	}

	li .meta {
		font-size: 13px;
		color: #555;
		margin: 10px 0 0;
		display: flex;

		.left {
			flex: 1 0;
		}

		.delete {
			color: #555;
			text-decoration: none;
			user-select: none;

			&.confirm {
				font-weight: bold;
			}

			.icon-trash {
				font-size: 16px;
				position: relative;
				top: 3px;
				display: none;
			}

			&:hover, &.confirm {
				color: #DD4A4A;
			}
		}
	}
}

#recovery-dialog .page-entry {
	display: flex;
	flex-direction: column;
	height: 100%;

	.entry-header {
		margin-bottom: 20px;

		.message-warn {
			margin: 10px 0 0;
			color: #6e7682;

			span {
				position: relative;
				top: 2px;
				margin-right: 4px;
			}
		}
	}
	.entry-text, .entry-meta {
		padding: 20px;
	}
	.entry-text {
		flex: 1 0;
		overflow-y: auto;
		border-radius: 2px 2px 0 0;
	}
	.entry-meta {
		border-top: 1px solid #e3e3e3;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
		color: #a5a5a5;
		position: relative;
		z-index: 1;
		border-radius: 0 0 2px 2px;
	}
}

#recovery-dialog .page-default {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;

	.center {
		text-align: center;
		font-size: 15px;
	}

	.icon {
		display: block;
		font-size: 100px;
		line-height: 45px;
		margin-bottom: 30px;
		color: #c1c8d5;
	}

	p {
		font-weight: bold;
	}

	.hint {
		font-size: 13px;
		font-weight: normal;
	}
}

.card-1 {
	box-shadow: 0 1px 3px #dddddd, 0 2px 8px rgba(0, 70, 110, .07);
	background: #FFF;
	border-radius: 2px;
}