#quickAccess {

	position: absolute;
	z-index: 99999999999;
	top: 0;
	left: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 0 0 6px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1); //1px 1px 3px rgba(0, 0, 0, .4), 0 0 6px rgba(0,0,0,.1);//0 1px 4px rgba(0,0,0,.5), 0 1px 10px rgba(0,0,0,.2);
	background: #FFF;
	font-size: 13px;
	width: 250px;
	animation: qa-in .1s;
	transform-origin: top center;
	padding: 4px;
	color: #555;

	@keyframes qa-in {
		from {
			opacity: 0;
			transform: scale(.98);
		}
	}

	&.hidden {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: flex;
		}

		.selectable {position: relative; border-radius: 2px; padding: 3px 0; cursor: default;}
		.selectable.selected { background: #E6E7E8; }

		.fill {
			padding-left: 6px;
			padding-right: 6px;
			flex: 1 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.flex-icon {
			flex: 0 1 34px;
			font-size: 13px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 18px;
				line-height: 10px;
			}
		}

		.sess-count-icon {
			padding: 0;
			position: relative;

			.icon, .num {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
			.icon {
				font-size: 22px;
				height: 18px;
				transform: scaleX(1.2) translateX(-44%) translateY(-50%);
			}
			.num {
				font-size: 11px;
				line-height: 20px;
			}
		}
	}
	
	.entry-list li .fill.selected ~ .selectable { background: #E6E7E8; }

	.footer {
		margin-top: 2px;
		padding-top: 2px;
		border-top: 1px solid #EAEAEA;
	}

	.footer {

		[data-tooltip]:before, [data-tooltip]:after {
			position: absolute;
			opacity: 0;
			pointer-events: none;
			transition-duration: .2s;
			transition-delay: .05s;
		}
		.selected[data-tooltip]:before, .selected[data-tooltip]:after {
			opacity: 1;
		}

		[data-tooltip]:before {
			content: attr(data-tooltip);
			bottom: calc(100% + 5px);
			right: calc(50% - 15px);
			display: inline-block;
			padding: 3px;
			font-size: 12px;
			background: #FFF;
			color: #666;
			border: 1px solid #666;
			box-shadow: 2px 2px 1px rgba(0,0,0,.3);
			line-height: 14px;
			white-space: nowrap;
		}
		[data-tooltip]:after {
			content: '';
			bottom: calc(100% + 3px);
			right: calc(50% - 2px);
			border-top: 3px solid #FFF;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
		}
	}
}