#quickAccess {
	position: absolute;
	z-index: 99999999999;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4), 0 0 6px rgba(0,0,0,.1);//0 1px 4px rgba(0,0,0,.5), 0 1px 10px rgba(0,0,0,.2);
	background: #FFF;
	width: 250px;
	padding: 15px;
	padding-bottom: 5px;
	border-radius: 2px;

	&.hidden {
		display: none;
	}

	.custom-icon-session {
		position: relative;
		top: 2px;
		border: 1px solid #333;
		border-radius: 2px;
		width: 50%;
		position: relative;
		text-align: center;
		line-height: 14px;
		height: calc(100% * 0.5) !important;
		font-size: 12px !important;

		&:after {
			content: '';
			position: absolute;
			top: -4px;
			left: 3px;
			right: -4px;
			bottom: 3px;
			border-radius: 0 4px 0 0;
			border: 1px solid #3A3A3A;
			border-left: none;
			border-bottom: none;
			transform: translateY(0.5px) translateX(-0.5px);
		}
	}

	ul {
		margin: 0; padding: 0; // Reset, some websites fuck it up
		display: block;

		.title {
			color: #a2a2a2;
			margin: 10px 0 0 0;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .3px;

			[class^="icon-"] {
				position: relative;
				top: 1px;
				opacity: .5;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		.flex-row {
			display: flex;
			// border-top: 1px solid #C4C4C4;
			margin-top: 5px;
			// padding-top: 2px;
		}

		.flex-icon {
			flex: 0 1 40px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 18px;
				height: 24px;
			}
		}

		.fill {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex: 1 0;
			padding: 0;
		}

		li {
			position: relative;
			margin: 0 -5px;
			padding: 0 5px;
			border-radius: 2px;
			cursor: default;
			font-size: 13px;
			line-height: 30px;
			color: #444;
			text-align: left; // Reset
			font-family: sans-serif;
			display: flex;
			justify-content: space-between;

			&.selected/* , &:hover */ {
				background: #E8E8E8;

				.entry-icon {
					opacity: .6;

					&:hover {
						opacity: 1;
					}
				}
			}

			&.selected[data-tooltip]:after {
				content: '';
				position: absolute;
				bottom: calc(100% + 3px);
				right: calc(50% - 2px);
				border-top: 3px solid #FFF;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
			}
			&.selected[data-tooltip]:before {
				content: attr(data-tooltip);
				position: absolute;
				bottom: calc(100% + 5px);
				right: calc(50% - 15px);
				display: inline-block;
				padding: 3px;
				font-size: 12px;
				background: #FFF;
				color: #666;
				border: 1px solid #666;
				box-shadow: 2px 2px 1px rgba(0,0,0,.3);
				line-height: 14px;
				white-space: nowrap;
			}
		}
	}
}