#quickAccess {
	$box-padding: 10px;

	position: absolute;
	z-index: 99999999999;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 0 0 6px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1); //1px 1px 3px rgba(0, 0, 0, .4), 0 0 6px rgba(0,0,0,.1);//0 1px 4px rgba(0,0,0,.5), 0 1px 10px rgba(0,0,0,.2);
	background: #FFF;
	font-size: 13px;
	width: 250px;
	animation: qa-in .3s;
	transform-origin: top center;
	padding: ($box-padding/2) 0;

	@keyframes qa-in {
		from {
			opacity: 0;
			transform: scale(.98);
		}
	}

	&.hidden {
		display: none;
	}

	.custom-icon-session {
		border: 1.3px solid #333;
		border-radius: 2px;
		width: 50%;
		position: relative;
		text-align: center;
		line-height: 13px;
		height: 85% !important;
		font-size: 11px !important;
	}

	.flex-icon {
		flex: 0 1 40px;
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			font-size: 18px;
			line-height: 10px;
		}
	}

	.title {
		color: #a2a2a2;
		margin: $box-padding 0 0 0;
		text-transform: uppercase;
		letter-spacing: .3px;
		font-size: 12px;

		[class^="icon-"] {
			position: relative;
			top: 1px;
			opacity: .5;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	li.selected {
		background: #F0F0F0;
	}

	.entry-list {
		margin: 0; padding: 0; // Reset, some websites fuck it up
		display: block;

		li {
			position: relative;
			padding: 5px $box-padding;
			cursor: default;
			color: #444;
			text-align: left; // Reset
			font-family: sans-serif;
			display: flex;
			justify-content: space-between;

			.value {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				flex: 1 0;
			}
		}
	}

	.footer {
		display: flex;
		border-top: 1px solid #EAEAEA;
		margin-top: 2px;

		li {
			padding: 5px $box-padding;
		}

		.fill {
			flex: 1 0;
			// padding-left: $box-padding;
		}

		.flex-icon {
			border-left: 1px solid #EAEAEA;
		}

		&.selected[data-tooltip]:after {
			content: '';
			position: absolute;
			bottom: calc(100% + 3px);
			right: calc(50% - 2px);
			border-top: 3px solid #FFF;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
		}
		&.selected[data-tooltip]:before {
			content: attr(data-tooltip);
			position: absolute;
			bottom: calc(100% + 5px);
			right: calc(50% - 15px);
			display: inline-block;
			padding: 3px;
			font-size: 12px;
			background: #FFF;
			color: #666;
			border: 1px solid #666;
			box-shadow: 2px 2px 1px rgba(0,0,0,.3);
			line-height: 14px;
			white-space: nowrap;
		}
	}
}