
.terafm-quickAccessTrigger {
	position: absolute;
	z-index: 999999999;
	width: 18px;
	height: 18px;
	display: none;
	border-radius: 2px; 
	background: #2DBAE2 no-repeat center url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDcuOTk5OTk5OTk5OTk5OTkiIGhlaWdodD0iNDcuOTk5OTk5OTk5OTk5OTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxnPiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPiAgPHJlY3QgZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjQwMiIgd2lkdGg9IjU4MiIgeT0iLTEiIHg9Ii0xIi8+IDwvZz4gPGc+ICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+ICA8cGF0aCBpZD0ic3ZnXzEiIGZpbGw9Im5vbmUiIGQ9Im0wLDBsNDgsMGwwLDQ4bC00OCwwbDAsLTQ4eiIvPiAgPHBhdGggZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18yIiBkPSJtMjgsMjRjMCwtMi4yMSAtMS43OSwtNCAtNCwtNHMtNCwxLjc5IC00LDRzMS43OSw0IDQsNHM0LC0xLjc5IDQsLTR6bS00LC0xOGMtOS45NCwwIC0xOCw4LjA2IC0xOCwxOGwtNiwwbDgsOGw4LC04bC02LDBjMCwtNy43MyA2LjI3LC0xNCAxNCwtMTRzMTQsNi4yNyAxNCwxNHMtNi4yNywxNCAtMTQsMTRjLTMuMDMsMCAtNS44MiwtMC45NyAtOC4xMiwtMi42MWwtMi44MywyLjg3YzMuMDQsMi4zNCA2LjgzLDMuNzQgMTAuOTUsMy43NGM5Ljk0LDAgMTgsLTguMDYgMTgsLTE4cy04LjA2LC0xOCAtMTgsLTE4eiIvPiA8L2c+PC9zdmc+);
	background-size: 16px;
	cursor: default;
	opacity: .5;
	transition-duration: .2s;
	animation: quickAccessIn .3s;

	&:hover {
		opacity: 1;
	}
}

@keyframes quickAccessIn {
	from {
		transform: translateY(5px);
		opacity: 0;
	}
}