
#save-indicator {
	background: #3CB720; // Default color

	// Shared between all styles
	position: fixed;
	z-index: 9999999999999;
}

#save-indicator.topline {
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	text-align: center;
	transform: translateY(-100%);
	transition-duration: .2s;

	&.visible {
		transform: none;
	}

	.animator {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(255,255,255,.6);
		transform: scaleX(0);
		opacity: 1;

		animation-name: topline;
		animation-duration: 1s;
		animation-timing-function: ease; //cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
		animation-delay: .1s;
	}

	@keyframes topline {
		from {
		}
		to {
			transform: scaleX(1);
			opacity: 0;
		}
	}
}





#save-indicator.cornertriag {
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	transform: rotate(45deg) translateY(-35px) translateX(0px);
	transition-duration: .2s;

	&.visible {
		transform: rotate(45deg) translateY(-20px) translateX(0);
	}

	.animator {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: inherit;
		transform: none;

		animation-name: cornertriag;
		animation-duration: .3s;
		animation-direction: alternate;
		animation-iteration-count: 2;
		animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	}
	@keyframes cornertriag {
		from {
		}
		to {
			transform: scale(1.8);
		}
	}
}