body {
  /*background: #222;*/
  padding: 30px;
  margin: 0;
  /*color: #FFF;*/
}

a {
  /*color: #666;*/
}

iframe {
  border: 2px solid red;
  background: rgba(255, 0, 0, .1);
}

.expand-on-focus {
  transition-duration: 0.5s;
}
.expand-on-focus:focus {
  padding: 30px 60px;
}

input,
textarea,
.editable {
  /*background: inherit;*/
  border: none;
  margin: 5px;
  padding: 3px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
  /*color: #DDD;*/
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.editable {
  height: 150px;
  width: 320px;
  overflow: auto;
}

.right {
  float: right;
}

.frame {
  display: inline-block;
  padding: 3px;
  margin: 0 5px;
  border: 1px dotted #555;
}
